table {
  width: 100%;
  text-align: left;
}

tr.mat-footer-row {
  font-weight: bold;
}

.searchField {
  padding: 8px;
  padding-left: 24px;
  text-align: left;
  background-color: white;
}

.mat-toolbar {
  position: relative;
}

.mat-toolbar button {
  position: relative;
  padding: 4px;
}

.mat-toolbar button .mat-icon {
  font-size: 32px;
  vertical-align: middle;
  position: relative;
  display: inline;
}

.mat-toolbar .mat-paginator {
  position: absolute;
  right: 4px;
}