<app-canvas></app-canvas>
<div id= "linkContainer">
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
    <a class= "link" routerLink= "/product-selection">Produkt</a>
</div>
<footer></footer>
