<app-canvas></app-canvas>
<div id= "linkContainer">
    <a class="link" (click)="initDialog('Minerva')">Minerva</a>
    <a class="link" (click)="initDialog('Produkt 2')">Produkt 2</a>
    <a class="link" (click)="initDialog('Produkt 3')">Produkt 3</a>
    <a class="link" (click)="initDialog('Produkt 4')">Produkt 4</a>
    <a class="link" (click)="initDialog()">Produkt</a>
    <a class="link" (click)="initDialog()">Produkt</a>
    <a class="link" (click)="initDialog()">Produkt</a>
    <a class="link" (click)="initDialog()">Produkt</a>
    <a class="link" (click)="initDialog()">Produkt</a>
    <a class="link" (click)="initDialog()">Produkt</a>
    <a class="link" (click)="initDialog()">Produkt</a>
    <a class="link" (click)="initDialog()">Produkt</a>
    <a class="link" (click)="initDialog()">Produkt</a>
</div>
<footer></footer>
