<ng-container
    *ngIf="(doneGettingVessel && doneGettingRoom); then doneLoading; else loading">
</ng-container>
<ng-template #doneLoading>
    <div class="links">
        <span>You are here: </span>
        <a routerLink="/vessels">Vessels</a>
        <mat-icon class="icon-inline">keyboard_arrow_right</mat-icon>
        <a [routerLink]="['/rooms', global.currentSelectedVessel.idVessel]">{{global.currentSelectedVessel.title}}</a>
        <mat-icon class="icon-inline">keyboard_arrow_right</mat-icon>
        <a>{{global.currentSelectedRoom.title}}</a>
        <mat-icon class="icon-inline back" (click)="backClicked()">
            arrow_back
        </mat-icon>
    </div>
    <products-canvas></products-canvas>
    <button *ngIf="global.editMode" mat-fab id="fabBtn" (click)="openAddProduct()">
        <mat-icon>
            add
        </mat-icon>
    </button>
</ng-template>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>