<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Log in</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="username" placeholder="Enter username"
        (ngOnInit)="username">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="password" type="password" placeholder="Enter password"
        (ngOnInit)="password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Log in</button>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>