<ng-container *ngIf="done; then doneLoading; else loading">
</ng-container>
<ng-template #doneLoading>
  <ng-container *ngIf="navigation === undefined; then navUndefined; else navDefined">
  </ng-container>
  <ng-template #navUndefined>
  </ng-template>
  <ng-template #navDefined>
    <ng-container *ngIf="navigation; then navTrue; else navFalse">
    </ng-container>
    <ng-template #navTrue>
      <div class="links">
        <span>You are here: </span>
        <a routerLink="/vessels">Vessels</a>
        <mat-icon class="icon-inline">keyboard_arrow_right</mat-icon>
        <a [routerLink]="['/rooms', global.currentSelectedVessel.idVessel]">{{global.currentSelectedVessel.title}}</a>
        <mat-icon class="icon-inline">keyboard_arrow_right</mat-icon>
        <a
          [routerLink]="['/products', global.currentSelectedVessel.idVessel, global.currentSelectedRoom.idRoom]">{{global.currentSelectedRoom.title}}</a>
        <mat-icon class="icon-inline">keyboard_arrow_right</mat-icon>
        <a>{{global.currentSelectedProduct.title}}</a>
        <mat-icon class="icon-inline back" (click)="backClicked()">
          arrow_back
        </mat-icon>
      </div>
    </ng-template>
    <ng-template #navFalse>
      <div class="links">
        <span>You are here: </span>
        <a>{{global.currentSelectedProduct.title}}</a>
        <mat-icon class="icon-inline back" (click)="backClicked()">
          arrow_back
        </mat-icon>
      </div>
    </ng-template>
  </ng-template>
  <div class="head">
    <img src="{{product.image}}">
    <section>
      <article>
        <button mat-button class="editProductButton" (click)="openEditProduct()" click *ngIf="global.editMode">
          <mat-icon>
            edit
          </mat-icon>
        </button>
        <h1>
          {{product.title}}
        </h1>
        <p>
          {{product.description}}
        </p>
      </article>
    </section>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="productNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nr. </th>
      <td mat-cell *matCellDef="let element">{{element.productNumber}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Product name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Product description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Watt Column -->
    <ng-container matColumnDef="watt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Watt </th>
      <td mat-cell *matCellDef="let element"> {{element.watt}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="kelvin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kelvin </th>
      <td mat-cell *matCellDef="let element"> {{element.kelvin}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Lumen Column -->
    <ng-container matColumnDef="lumen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lumen </th>
      <td mat-cell *matCellDef="let element"> {{element.lumen}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let element"
        (click)="(!selection.isSelected(element) && SubProductChecked(element)); (!selection.isSelected(element) && selection.toggle(element));">
        <mat-form-field floatLabel="never">
          <input matInput type="number" (change)="updateAmount(element, $event.target.value)"
            placeholder="{{getAmount(element) || 0}}" [ngModel]="amount" name="amount" enabled="false">
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        In Cart
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation();"
          (change)="SubProductChecked(row); $event ? selection.toggle(row) : null;"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="editColumn"> Edit </th>
      <td mat-cell *matCellDef="let element" class="editColumn">
        <mat-icon>edit</mat-icon>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- display Column and paginator -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <button mat-button class="addSubProduct" *ngIf="global.editMode" (click)="openAddSubProduct();">
    <span>
      Add SubProduct
    </span>
    <mat-icon>
      add_box
    </mat-icon>
  </button>
</ng-template>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>