<app-canvas></app-canvas>
<div id= "linkContainer">
    <a class= "link" routerLink= "/product-selection">Baug</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
    <a class= "link" routerLink= "/product-selection">Lugar</a>
</div>