
<app-canvas></app-canvas>
<div>
    <ul> 
            <li id="links"> <a routerLink= "/product-selection" id = "links">Baug</a></li>
            <li id="links"> <a routerLink= "/product-selection" id = "links">Lugar</a> </li>
    
    </ul>
    
     <ul>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a>  </li>
    </ul>

    <ul>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a>  </li>
    </ul>
    
    <ul>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a>  </li>
    </ul>
    
    <ul>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
    </ul>

    <ul>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
    </ul>

    <ul>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
    </ul>

    <ul>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
    </ul>

    <ul>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
            <li id="links"> <a routerLink= "/product-selection" id="links">Lugar</a> </li>
    </ul>
    
</div>
