.items-container {
    width: 30%;
    display: flex;
}

circle {
    cursor: move;
}

.svg-container {
    border: 3px dashed #000;
    background-color: #CCC;
    width: 70%;
    height: 500px;
}


app-room-selection {
    display: flex;
}

canvas {
    width: 1400px;
}