<img src="assets/img/MISCIcon.png" alt="Picture of boat" height="300" width="600">
<h3>Please select a vessel</h3>

<div>
    <div *ngFor="let v of vessels; let i=index;" class="vessel">
        <img src="assets/img/boat.jpg" alt="Picture of boat" height="200" width="300" routerLink="/rooms">
        <p>Boat 1</p>
    </div>
    <div class="vessel">
        <img src="assets/img/boat.jpg" alt="Picture of boat" height="200" width="300" routerLink="/rooms">
        <p>Boat 1</p>
    </div>
    <div class="vessel">
        <img src="assets/img/boat.jpg" alt="Picture of boat" height="200" width="300" routerLink="/rooms">
        <p>Boat 2</p>
    </div>
    <div class="vessel">
        <img src="assets/img/boat.jpg" alt="Picture of boat" height="200" width="300" routerLink="/rooms">
        <p>Boat 3</p>
    </div>
    <div class="vessel">
        <img src="assets/img/boat.jpg" alt="Picture of boat" height="200" width="300" routerLink="/rooms">
        <p>Boat 4</p>
    </div>
    <div class="vessel">
        <img src="assets/img/boat.jpg" alt="Picture of boat" height="200" width="300" routerLink="/rooms">
        <p>Boat 5</p>
    </div>
    <div class="vessel">
        <img src="assets/img/boat.jpg" alt="Picture of boat" height="200" width="300" routerLink="/rooms">
        <p>Boat 6</p>
    </div>
    <button (click)="addVessel()">
        Click me!
    </button>
</div>