<div class="links">
    <span>You are here: </span>
    <a>Vessels</a>
</div>
<img src="assets/img/MISCIcon.png" alt="Picture of boat" height="300" width="600">
<div>
    <ng-container *ngIf="global.editMode; then editMode; else viewMode">

    </ng-container>
    <ng-template #viewMode>
        <div *ngFor="let vessel of vessels; let i=index;" class="vessel">
            <div class="vesselImageContainer">
                <img src="{{vessel.image}}" alt="{{vessel.description}}" height="216" width="384"
                    (click)="setCurrectSelectedVessel(vessel)" [routerLink]="['/rooms', vessel.idVessel]">
            </div>
            <div class="vesselTextContainer" (click)="setCurrectSelectedVessel(vessel)"
                [routerLink]="['/rooms', vessel.idVessel]">
                <a>{{vessel.title}}</a>
            </div>
        </div>
    </ng-template>
    <ng-template #editMode>
        <div *ngFor="let vessel of vessels; let i=index;" class="vessel">
            <div class="vesselImageContainer">
                <img src="{{vessel.image}}" alt="{{vessel.description}}" height="216" width="384"
                    (click)="setCurrectSelectedVessel(vessel)" [routerLink]="['/rooms', vessel.idVessel]">
                <mat-icon class="editVesselIcon" (click)="setCurrectSelectedVessel(vessel); openEditVessel();">
                    edit
                </mat-icon>
            </div>
            <div class="vesselTextContainer" (click)="setCurrectSelectedVessel(vessel)"
                [routerLink]="['/rooms', vessel.idVessel]">
                <a>{{vessel.title}}</a>
            </div>
        </div>
        <div *ngIf="global.editMode" class="vessel" (click)="openAddVessel()">
            <div class="vesselImageContainer">
                <img src="assets/img/addVessel.png" alt="Picture of boat" height="216" width="384">
            </div>
            <div class="vesselTextContainer">
                <a>Add new vessel</a>
            </div>
        </div>
        <button mat-fab id="fabBtn" (click)="openAddVessel()">
            <mat-icon>
                add
            </mat-icon>
        </button>
    </ng-template>
</div>