.vessel {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    font-size: 24px;
    transition: color 0.2s;
}

.vessel:hover {
    cursor: pointer;
}

.vessel:hover .vesselTextContainer a {
    color: dodgerblue;
}

.links {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}

.icon-inline {
    display: inline-block;
    vertical-align: middle;
  }

.back {
    float: right;
    padding-right: 16px; 
}

.vesselImageContainer {
    position: relative;
    background-color: white;
}

.vesselTextContainer {
    position: relative;
    background-color: #f1f1f1;
    padding: 8px;
}

.vesselTextContainer a {
    transition: color 0.2s;
    text-decoration: none;
}

.editVesselIcon {
    position: absolute;
    border: 1px solid black;
    color: black;
    background-color: #f1f1f1;
    box-sizing: content-box;
    transition: border 0.5s;
    padding: 8px;
    right: 0px;
    bottom: 0px;
}

.visibilityVesselIcon {
    position: absolute;
    border: 1px solid black;
    color: black;
    background-color: #f1f1f1;
    box-sizing: content-box;
    transition: border 0.5s;
    padding: 8px;
    left: 0px;
    bottom: 0px;
}

.editVesselIcon:hover {
    border: 4px solid dodgerblue;
    cursor: pointer;
}

.visibilityVesselIcon:hover {
    border: 4px solid dodgerblue;
    cursor: pointer;
}