<ng-container
    *ngIf="global.currentSelectedVessel !== undefined; then hasCurrentSelectedVessel; else noCurrentSelectedVessel">
</ng-container>
<ng-template #hasCurrentSelectedVessel>
    <div class="topNavigation">
        <span>You are here: </span>
        <a routerLink="/vessels">Vessels</a>
        <mat-icon class="icon-inline">keyboard_arrow_right</mat-icon>
        <a>{{global.currentSelectedVessel.title}}</a>
        <mat-icon class="icon-inline back" (click)="backClicked()">
            arrow_back
        </mat-icon>
    </div>
    <rooms-canvas></rooms-canvas>
    <button *ngIf="global.editMode" mat-fab id="fabBtn" (click)="openAddRoom()">
        <mat-icon>
            add
        </mat-icon>
    </button>
</ng-template>
<ng-template #noCurrentSelectedVessel>

</ng-template>