<app-canvas></app-canvas>
<div id= "linkContainer">
    <a class= "link" routerLink= "/products">Baug</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
    <a class= "link" routerLink= "/products">Lugar</a>
</div>