<!-- Code for password validation from https://stackoverflow.com/questions/51605737/confirm-password-validation-in-angular-6 -->

<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Create New User</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="username" placeholder="New username" required (ngOnInit)="username">
      <mat-error *ngIf="form.hasError('required', 'username')">
        Please enter a username
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="New password" formControlName="password" type="password" required
        (ngOnInit)="password">
      <mat-error *ngIf="form.hasError('required', 'password')">
        Please enter a password
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher"
        type="password" (ngOnInit)="password">
      <mat-error *ngIf="form.hasError('notSame') && form.controls['confirmPassword'].touched">
        The passwords do not match
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit"
      [disabled]="form.hasError('required', 'username') || form.hasError('required', 'password') || form.hasError('notSame')">Create
      User</button>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>