<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Add Vessel</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="title" [(ngModel)]="title" placeholder="Enter title of vessel"
        (ngOnInit)="title(form)">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="description" [(ngModel)]="description" placeholder="Enter description"
        (ngOnInit)="description(form)">
    </mat-form-field>
  </mat-dialog-content>
  <p>Vessel Image</p>
  <input class="ng-hide" (change)="readVesselUrl($event);" id="vesselImageInput" multiple type="file" />
  <label for="vesselImageInput" class="md-button md-raised md-primary block"></label>
  <p>Blueprint Image</p>
  <input class="ng-hide" (change)="readBlueprintUrl($event);" id="blueprintImageInput" multiple type="file" />
  <label for="blueprintImageInput" class="md-button md-raised md-primary block"></label>
  <mat-dialog-actions class="bottom">
    <button mat-button type="submit">Add Vessel</button>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>
<div class="image-preview">
  <p>Vessel image</p>
  <img [src]="imageVessel" height="216" width="384">
  <p>Blueprint image</p>
  <img [src]="imageBlueprint" height="216" width="384">
</div>