/* Style the header with a grey background and some padding */

.header {
  overflow: hidden;
  background-color: #ffffff;
  margin: 0px;
}

.logo {
  background-image: url("assets/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  margin-left: 24px;
  display: inline-block;
  width: 100%;
}

.header-left {
  height: 60px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 50%;
  display: inline-block;
  min-width : 50%;
}

.header-right {
  float: right;
  height: 80px;
}

#login {
  width: 120px;
  vertical-align: top;
  margin-top: 15px;
  margin-right: 20px;
  height: 50px; 
  display: inline-block;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
}

#enterViewBtn {
  width: 50px;
  vertical-align: top;
  margin-top: 15px;
  height: 50px; 
  display: inline-block;
  background-color: #C9193F;
  color: white;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
}

#enterEditBtn {
  width: 50px;
  vertical-align: top;
  margin-top: 15px;
  height: 50px; 
  display: inline-block;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
}

#shopping-cart {
  width: 80px;
  height: 40px;
  margin-top: 20px;
  background-image: url("assets/img/cart.png");
  background-size: contain;
  vertical-align: top;
  background-repeat: no-repeat;
  display: inline-block;
}

#main {
  overflow: auto;
  max-height: calc(100vh - 80px);
}

#sheet {
  text-align:center;
  max-width: 1400px;
  min-height: calc(100vh - 80px);
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff8a;
}

.icon-text {
  display: inline-block;
  vertical-align: middle;
}

.width100 {
  width: 100%;
}

.width70 {
  width: 70%;
}

.width30 {
  width: 30%;
}