<div class="canvasContainer">
    <canvas #canvas></canvas>
    <mat-icon *ngIf="global.editMode" class="editBlueprintIcon" (click)="openEditBlueprint();">
        edit
    </mat-icon>
</div>
<div>
    <div *ngFor="let room of rooms; let i=index;" class="roomContainer">
        <ng-container *ngIf="room === undefined; then loading; else done">
        </ng-container>
        <ng-template #loading>
            <div class="room">
                <div class="roomImage">

                </div>
                <div class="roomText">
                    <a>Loading...</a>
                </div>
            </div>
        </ng-template>
        <ng-template #done>
            <div class="room">
                <div class="roomImage">
                    <img src="{{room.image}}" alt="{{room.description}}" height="90" width="160"
                        (click)="global.currentSelectedRoom = room" [routerLink]="['/products', global.currentSelectedVessel.idVessel, room.idRoom]">
                </div>
                <div class="roomText" [routerLink]="['/products', global.currentSelectedVessel.idVessel, room.idRoom]">
                    <a>{{room.title}}</a>
                </div>
            </div>
        </ng-template>
    </div>
    <div *ngIf="global.editMode" class="room" (click)="openAddRoom()">
            <div class="vesselImageContainer">
                <img src="assets/img/addVessel.png" alt="Picture of room" height="90" width="160">
            </div>
            <div class="roomTextContainer">
                <a>Add new room</a>
            </div>
        </div>
</div>