.product {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    transition: color 0.2s;
    margin: 6px;
}

.productImage {
    position: relative;
    background-color: white;
}

.productText {
    position: relative;
    background-color: #f1f1f1;
    padding: 8px;
}

.productText a {
    transition: color 0.2s;
    text-decoration: none;
}

.product:hover {
    cursor: pointer;
}

.product:hover .productText a {
    color: dodgerblue;
}

.hover {
    color: dodgerblue;
}

.productContainer {
    display: inline-block;
}

.canvasContainer {
    position: relative;
}

canvas {
    border: 1px solid #000;
}

.editRoomIcon {
    position: absolute;
    border: 1px solid black;
    color: black;
    background-color: #f1f1f1;
    box-sizing: content-box;
    transition: border 0.5s;
    padding: 8px;
    right: -2px;
    bottom: 4px;
}

.editRoomIcon:hover {
    border: 4px solid dodgerblue;
    cursor: pointer;
}