/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-light-blue, 500);
$accent:  mat-palette($mat-light-blue, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
    position: relative;
}

.mat-column-select {
    overflow: initial;
}

#fabBtn {
  position: fixed;
  width: 64px;
  height: 64px;
  right: 24px;
  bottom: 24px;
}

#productTable {
    max-width: 75%;
}
#productTable th {
    min-width: 8em;
}
#productTable td {
    padding-right: 3em;
}
#productTable th.mat-sort-header-sorted {
    color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}