/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-light-blue, 500);
$accent:  mat-palette($mat-light-blue, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
    position: relative;
}

.mat-column-select {
    overflow: initial;
}


#productTable {
    max-width: 75%;
}
#productTable th {
    min-width: 8em;
}
#productTable td {
    padding-right: 3em;
}
#productTable th.mat-sort-header-sorted {
    color: black;
  }